/*implementação da fonte no arquivos css*/ 
@font-face {
    font-family: 'VT';
    src: url(/fonts/VT323-Regular.ttf) format(truetype);
}

body {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*design do menu*/

.title {
    font-family: 'VT';
    font-size: xx-large;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 3px 3px 0 #000;   
    margin: 10%; 
}

.button {
    /*configurações básicas*/
    font-family: 'VT';
    font-size: 35px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;

    /*configurações da borda*/
    border: 2px solid #fff6;
    border-radius: 10px;
    padding: 10px 30px;

    /*configurações de alinhamento*/
    align-items: center;
    justify-content: center;
    margin: 44%;
}

.footer {
    font-family: 'VT';
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    margin: 10%;
}

.rules {
    font-family: 'VT';
    font-size: 35px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border: 2px solid #fff6;
    border-radius: 10px;
    padding: 5px 20px;
}