/*implementação da fonte no arquivos css*/ 
@font-face {
    font-family: 'VT';
    src: url(/fonts/VT323-Regular.ttf) format(truetype);
}

/*configurações básicas do body*/
body {
    background-image: url(../assets/background-new.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*design do menu*/
.title {
    font-family: 'VT';
    font-size: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 0px 20px #ffffff69;
    margin: 10%;
}

.button {
    font-family: 'VT';
    font-size: 35px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-radius: 100px;
    padding: 15px 25px;
    align-items: center;
    justify-content: center;
    margin: 44%;
}

.footer {
    font-family: 'VT';
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    margin: 10.5%;
    font-size: 20px;
}

.rules {
    font-family: 'VT';
    font-size: 45px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color:transparent;
    background-color: #fff1;
    border-radius: 100px;
    padding: 0px 15px;
}