/*implementação da fonte no arquivo css*/
@font-face {
    font-family: 'VT';
    src: url(/fonts/VT323-Regular.ttf) format(truetype);
}
/*configurações básicas do body*/
body {
    background-image: url(../assets/background-new.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y:hidden;
    overflow-x: hidden;
}

/*tabuleiro*/
ul{
    line-height: 150%;
}
li {
    width: 75px;
    background-color: #fff1;
}

.jogador {

    position: absolute;
    left: 42.7%;
    top: 10%;
    height: 200px;
    width: 200px; 
    text-align: center;
    font-family: 'VT';
    font-size: 50px;
    color: white;
}

.oponente {
    position: absolute;
    left: 42.7%;
    top: 60%;
    height: 200px;
    width: 200px; 
    text-align: center;
    font-family: 'VT';
    font-size: 50px;
    color: white;

}

#coluna1{
    list-style: none;
    position: relative;
    right: 23%;
    bottom: 20%;
}

#coluna2{
    list-style: none;
    position: relative;
    left: 18%;
    bottom: 157.7%;

}

#coluna3{
    list-style: none;
    position: relative;
    left: 59%;
    bottom: 295%;

}

#coluna4{
    list-style: none;
    position: relative;
    right: 23%;
    bottom: 20%;
}

#coluna5{
    list-style: none;
    position: relative;
    left: 18%;
    bottom: 157.7%;

}

#coluna6{
    list-style: none;
    position: relative;
    left: 59%;
    bottom: 295%;

}

#col1{
    color: rgb(253, 233, 233);
    top: 1.5%;
    left: 42.9%;
}


#col2{
    color: rgb(255, 151, 151);
    top: 1.5%;
    left: 48%;
}
#col3{
    color: rgb(248, 62, 62);
    top: 1.5%;
    left: 53.2%;
}
/*interface*/
#RolarDados {
    position: absolute;
    top: 85.5%;
    left: 26.5%;
    font-family: 'VT';
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border:none;
    border-radius: 50px;
    padding: 5px 15px;
}

.choose {
    font-family: 'VT';
    font-size: 40px;
    color: white;
    text-decoration: none;
    background-color:transparent;
    height: 65px;
    width: 65px; 
    position: absolute;
    border:none;
}

.button {
    font-family: 'VT';
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-radius: 50px;
    padding: 9px 19px;
    position: absolute;
    top: 93%;
}
.texto1 {
    font-family: 'VT';
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    position: absolute;
    top: 57%;
    left: 27.2%;
    color: white;
}
.texto2 {
    font-family: 'VT';
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    position: absolute;
    top: 57%;
    right: 30%;
    color: white;
}
.texto3 {
    font-family: 'VT';
    font-size: 130px;
    text-decoration: none;
    text-shadow: 2px 2px 0 black;
    position: absolute;
    top: 24.5%;
    left: 48%;
    color: white;
}
  
/*personagens*/
.imagem1 {
    position: absolute;
    top: 32%;
    left: 26%;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
}
.imagem2 {
    position: absolute;
    top: 32%;
    right: 26%;
}

#Jog1 {
    font-family: 'VT';
    font-size: 80px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    position: absolute;
    top: 60%;
    left: 28.5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    width: 90px;
    height: 90px;
    text-align: center;
}