/*implementação da fonte no arquivo css*/ 
@font-face {
    font-family: 'VT';
    src: url(/fonts/VT323-Regular.ttf) format(truetype);
}

/*configurações básicas do body*/
body {
    background-image: url(../assets/background-new.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
.title {
    font-family: 'VT';
    font-size: 60px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 0px 20px #ffffff69;
}
/*design do tabuleiro*/
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 200px;
    margin: 0 auto;
}
.cell {
    width: 60px;
    height: 60px;
    border-radius:5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT';
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 0 #000;
    background-color: rgba(255, 255, 255, 0.055);
}

/*design dos botões*/
#reiniciar{
    font-family: 'VT';
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-radius: 100px;
    padding: 10px 15px;
    position:absolute;
    left:88%;
    top: 88%;
}
#rolardado{
    font-family: 'VT';
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-radius: 100px;
    margin: 2%;
}
    