/*implementação da fonte no arquivo css*/
@font-face {
    font-family: 'VT';
    src: url(/fonts/VT323-Regular.ttf) format(truetype);
}

/*configurações básicas do body*/
body {
    background-image: url(/assets/background-new.gif);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*tabuleiro*/
.game-board {
    display: grid;
    grid-template-columns: 55px 55px 55px;
    grid-template-rows: 55px 55px 55px 20px;
    justify-content: center;
    position: relative;
    bottom: 50px;
}

.box {
    background-color: transparent;
    border: 2px solid white;
}

.game-board2 {
    display: grid;
    grid-template-columns: 55px 55px 55px;
    grid-template-rows: 55px 55px 55px 20px;
    justify-content: center;
}

.box2 {
    background-color: transparent;
    border: 2px solid white;
}

/*personagens*/
.imagem1 {
    position: relative;
    left: 50px;
}

.imagem2 {
    position: relative;
    bottom: 300px;
}


/*interface*/
.button {
    font-family: 'VT';
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-radius: 50px;
    padding: 10px 30px;
    bottom: 5px;
    left: 0px;
    position: relative;
    bottom: 20px;
}

.texto1 {
    font-family: 'VT';
    font-size: 35px;
    color: white;
    position: relative;
    top: 100px; left: 40px;
    margin: 0%;
}

.texto2 {
    font-family: 'VT';
    font-size: 35px;
    color: white;
    position: relative;
    top: 100px; left: 100px;
    margin: 0%;
}