/*implementação da fonte no arquivo css*/
@font-face {
    font-family: 'VT';
    src: url(/fonts/VT323-Regular.ttf) format(truetype);
}

/*configurações básicas do body*/
body {
    background-image: url(../assets/background-new.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*tabuleiro*/
.jogador {
    position: absolute;
    left: 42.7%;
    top: 60%;
    height: 200px;
    width: 200px; 
    text-align: center;
    font-family: 'VT';
    font-size: 50px;
    color: white;

}

.oponente {
    position: absolute;
    left: 42.7%;
    top: 10%;
    height: 200px;
    width: 200px; 
    text-align: center;
    font-family: 'VT';
    font-size: 50px;
    color: white;
}

.box {
    background-color: #fff1;
    border: 2px solid whitesmoke;
}

/*interface*/
#RolarDados {
    position: absolute;
    top: 70%;
    left: 28.5%;
    font-family: 'VT';
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-color: #000;
    border-radius: 50px;
    padding: 5px 15px;
}

.button {
    font-family: 'VT';
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-radius: 50px;
    padding: 9px 19px;
    position: absolute;
    top: 93%;
}

.texto1 {
    font-family: 'VT';
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    position: absolute;
    top: 57%;
    left: 27.2%;
    color: white;
}

.texto2 {
    font-family: 'VT';
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    position: absolute;
    top: 57%;
    right: 30%;
    color: white;
}

.texto3 {
    font-family: 'VT';
    font-size: 130px;
    text-decoration: none;
    text-shadow: 2px 2px 0 black;
    position: absolute;
    top: 20%;
    left: 48.2%;
    color: white;
}

/*personagens*/
.imagem1 {
    position: absolute;
    top: 32%;
    left: 26%;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
}

.imagem2 {
    position: absolute;
    top: 32%;
    right: 26%;
}
