/*implementação da fonte no arquivo css*/
@font-face {
    font-family: 'VT';
    src: url(/fonts/VT323-Regular.ttf) format(truetype);
}

/*configurações básicas do body*/
body {
    background-image: url(../assets/background-new.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin; /*configurações da barra de rolagem Gecko (motor de renderização do Firefox e derivados, W3C)*/
    scrollbar-color: black transparent;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*configurações da barra de rolagem Webkit e Blink (motor de renderização do Google e derivados, pseudo-elementos do CSS*/
body::-webkit-scrollbar{
    width: 3px;
}

body::-webkit-scrollbar-thumb{
    background-color: #ffffff;
}

body::-webkit-scrollbar-track{
    background: black;
    padding: 2px;
}

/*design da página rules*/
.title {
    font-family: 'VT';
    font-size: 35px;
    color: white;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 0px 20px #ffffff57;
    margin: 1%;
}

.lore {
    font-family: 'VT';
    font-size: 32px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    line-height: 1.6;
}

.regras {
    font-family: 'VT';
    font-size: 32px;
    color: white;
    text-shadow: 1px 1px 0 #000;
    line-height: 1.8;
    margin-bottom: 7%;
}

.button {
    font-family: 'VT';
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 0 #000;
    background-color: #fff1;
    border-radius: 50px;
    padding: 10px 30px;
    bottom: 10px;
    left: 0px;
}